[user]
	name = Jorge
	email = 4170476+jpiedrafita@users.noreply.github.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	editor = /usr/local/bin/code
